In [16]:
import pymongo
import pandas as pd
import plotly.express as px
import datetime
from PIL import Image
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go

In [17]:
# MongoDB Connection
client = pymongo.MongoClient("mongodb+srv://madheswaranm5507:madhes5507@cluster0.xenmupg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

db = client["sample_airbnb"]
col1 = db["listingsAndReviews"]

In [18]:
airbnb_data = []
for i in col1.find({},{"_id":1,"listing_url":1,"name":1,"property_type":1,"room_type":1,"bed_type":1,"minimum_nights":1,"maximum_nights":1,"cancellation_policy":1,"accommodates":1,"bedrooms":1,"beds":1,"number_of_reviews":1,"bathrooms":1,"price":1,"extra_people":1,"guests_included":1,"images.picture_url":1,"review_scores":1,"cleaning_fee":1}):
    airbnb_data.append(i)

In [19]:
df_airbnb =pd.DataFrame(airbnb_data)
df_airbnb.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_...",NaN
1,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,{'picture_url': 'https://a0.muscache.com/im/pi...,"{'review_scores_accuracy': 10, 'review_scores_...",135.00

In [20]:
df_airbnb["images"] = df_airbnb["images"].apply(lambda x: x["picture_url"])

In [21]:
df_airbnb.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,"{'review_scores_accuracy': 10, 'review_scores_...",NaN
1,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,https://a0.muscache.com/im/pictures/15074036/a...,"{'review_scores_accuracy': 10, 'review_scores_...",135.00

In [22]:
df_airbnb["review_scores"] = df_airbnb["review_scores"].apply(lambda x: x.get("review_scores_rating"))

In [23]:
df_airbnb.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100.0,NaN
1,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,https://a0.muscache.com/im/pictures/15074036/a...,94.0,135.00

In [24]:
df_airbnb.describe().T

                    count       mean        std   min   25%   50%   75%    max
accommodates       5555.0   3.505851   2.297019   1.0   2.0   3.0   4.0   16.0
bedrooms           5550.0   1.411712   1.041942   0.0   1.0   1.0   2.0   20.0
beds               5542.0   2.071454   1.619660   0.0   1.0   2.0   3.0   25.0
number_of_reviews  5555.0  27.606481  49.798376   0.0   1.0   5.0  32.0  533.0
review_scores      4081.0  93.099240   9.023483  20.0  90.0  95.0  99.0  100.0

In [25]:
df_airbnb.isnull().sum()

_id                       0
listing_url               0
name                      0
property_type             0
room_type                 0
bed_type                  0
minimum_nights            0
maximum_nights            0
cancellation_policy       0
accommodates              0
bedrooms                  5
beds                     13
number_of_reviews         0
bathrooms                10
price                     0
extra_people              0
guests_included           0
images                    0
review_scores          1474
cleaning_fee           1531
dtype: int64

In [26]:
# Handling The Null Vaulues

df_airbnb["bedrooms"].fillna(0,inplace=True)
df_airbnb["beds"].fillna(0,inplace=True)
df_airbnb["bathrooms"].fillna(0,inplace=True)
df_airbnb["review_scores"].fillna(0,inplace=True)
df_airbnb["cleaning_fee"].fillna(0,inplace=True)

In [27]:
df_airbnb.isnull().sum()

_id                    0
listing_url            0
name                   0
property_type          0
room_type              0
bed_type               0
minimum_nights         0
maximum_nights         0
cancellation_policy    0
accommodates           0
bedrooms               0
beds                   0
number_of_reviews      0
bathrooms              0
price                  0
extra_people           0
guests_included        0
images                 0
review_scores          0
cleaning_fee           0
dtype: int64

In [28]:
# Handling The DATATYPES
df_airbnb.head(2)

,_id,listing_url,name,property_type,room_type,bed_type,minimum_nights,maximum_nights,cancellation_policy,accommodates,bedrooms,beds,number_of_reviews,bathrooms,price,extra_people,guests_included,images,review_scores,cleaning_fee
0,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient",Apartment,Entire home/apt,Real Bed,4,20,flexible,3,1.0,2.0,3,1.0,699.00,0.00,1,https://a0.muscache.com/im/pictures/4533a1dc-6...,100.0,0
1,1003530,https://www.airbnb.com/rooms/1003530,New York City - Upper West Side Apt,Apartment,Private room,Real Bed,12,360,strict_14_with_grace_period,2,1.0,1.0,70,1.0,135.00,0.00,1,https://a0.muscache.com/im/pictures/15074036/a...,94.0,135.00

In [29]:
df_airbnb.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights          object
maximum_nights          object
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
extra_people            object
guests_included         object
images                  object
review_scores          float64
cleaning_fee            object
dtype: object

In [30]:
df_airbnb["minimum_nights"] = df_airbnb["minimum_nights"].astype(int)
df_airbnb["maximum_nights"] = df_airbnb["maximum_nights"].astype(int)
df_airbnb["bedrooms"] = df_airbnb["bedrooms"].astype(int).astype(float)
df_airbnb["bathrooms"] = df_airbnb["bathrooms"].astype(str)
df_airbnb["price"] = df_airbnb["price"].astype(str)

In [31]:
df_airbnb.dtypes

_id                     object
listing_url             object
name                    object
property_type           object
room_type               object
bed_type                object
minimum_nights           int32
maximum_nights           int32
cancellation_policy     object
accommodates             int64
bedrooms               float64
beds                   float64
number_of_reviews        int64
bathrooms               object
price                   object
extra_people            object
guests_included         object
images                  object
review_scores          float64
cleaning_fee            object
dtype: object

In [32]:
# Collection The Host Data
host_details = []
for i in col1.find({},{"_id":1,"host":1}):
    host_details.append(i)
df_host = pd.DataFrame(host_details)

In [33]:
host_data = {"_id":[],"host_id":[],"host_url":[],"host_name":[],"host_location":[],"host_about":[],"host_response_time":[],"host_thumbnail_url":[],"host_picture_url":[],
             "host_neighbourhood":[],"host_response_rate":[],"host_is_superhost":[],"host_has_profile_pic":[],"host_identity_verified":[],"host_listings_count":[],
             "host_total_listings_count":[],"host_verifications":[]}
for i in df_host["_id"]:
    host_data["_id"].append(i)

for i in df_host["host"]:
    host_data["host_id"].append(i["host_id"])
    host_data["host_url"].append(i["host_url"])
    host_data["host_name"].append(i["host_name"])
    host_data["host_location"].append(i["host_location"])
    host_data["host_about"].append(i["host_about"])
    host_data["host_response_time"].append(i.get("host_response_time"))
    host_data["host_thumbnail_url"].append(i["host_thumbnail_url"])
    host_data["host_picture_url"].append(i["host_picture_url"])
    host_data["host_neighbourhood"].append(i.get("host_neighbourhood"))
    host_data["host_response_rate"].append(i.get("host_response_rate"))
    host_data["host_is_superhost"].append(i["host_is_superhost"])
    host_data["host_has_profile_pic"].append(i["host_has_profile_pic"])
    host_data["host_identity_verified"].append(i["host_identity_verified"])
    host_data["host_listings_count"].append(i["host_listings_count"])
    host_data["host_total_listings_count"].append(i["host_total_listings_count"])
    host_data["host_verifications"].append(i["host_verifications"])
    
    
df_host_1 = pd.DataFrame(host_data)
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_about,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",,None,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,NaN,False,True,False,1,1,"[email, phone, reviews, jumio, government_id]"
1,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",By now I have lived longer in the city than th...,within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,,100.0,True,True,True,3,3,"[email, phone, reviews, jumio, offline_governm..."

In [34]:
# Empty values check in the host_neighbourhood details
Empty_values = []
for index,row in df_host_1.iterrows():
    if row["host_neighbourhood"] == "":
        Empty_values.append(index)

In [35]:
len(Empty_values)

1923

In [36]:
df_host_1.isnull().sum()

_id                             0
host_id                         0
host_url                        0
host_name                       0
host_location                   0
host_about                      0
host_response_time           1388
host_thumbnail_url              0
host_picture_url                0
host_neighbourhood              0
host_response_rate           1388
host_is_superhost               0
host_has_profile_pic            0
host_identity_verified          0
host_listings_count             0
host_total_listings_count       0
host_verifications              0
dtype: int64

In [37]:
# Handling the Null Values and empty values for host

df_host_1["host_response_time"].fillna("Not Specified", inplace=True)
df_host_1["host_response_rate"].fillna("Not Specified", inplace=True)
df_host_1["host_neighbourhood"] = df_host_1["host_neighbourhood"].replace({"":"Not Specified"})

In [38]:
# Change the Features in True or False
df_host_1["host_is_superhost"] = df_host_1["host_is_superhost"].replace({True:"Yes",False:"No"})
df_host_1["host_has_profile_pic"] = df_host_1["host_has_profile_pic"].replace({True:"Yes",False:"No"})
df_host_1["host_identity_verified"] = df_host_1["host_identity_verified"].replace({True:"Yes",False:"No"})

In [39]:
df_host_1.head(2)

,_id,host_id,host_url,host_name,host_location,host_about,host_response_time,host_thumbnail_url,host_picture_url,host_neighbourhood,host_response_rate,host_is_superhost,host_has_profile_pic,host_identity_verified,host_listings_count,host_total_listings_count,host_verifications
0,10059872,51624384,https://www.airbnb.com/users/show/51624384,Giovanni,"Hong Kong, Hong Kong",,Not Specified,https://a0.muscache.com/im/pictures/264b82a7-7...,https://a0.muscache.com/im/pictures/264b82a7-7...,Soho,Not Specified,No,Yes,No,1,1,"[email, phone, reviews, jumio, government_id]"
1,1003530,454250,https://www.airbnb.com/users/show/454250,Greta,"New York, New York, United States",By now I have lived longer in the city than th...,within an hour,https://a0.muscache.com/im/pictures/f1022be4-e...,https://a0.muscache.com/im/pictures/f1022be4-e...,Not Specified,100.0,Yes,Yes,Yes,3,3,"[email, phone, reviews, jumio, offline_governm..."

In [40]:
#Collection the Address details

address_details = []

for i in col1.find({},{"_id":1,"address":1}):
    address_details.append(i)
df_address = pd.DataFrame(address_details)

In [41]:
df_address.isnull().sum()

_id        0
address    0
dtype: int64

In [42]:

address_data = {"_id":[],"street":[],"suburb":[],"government_area":[],"market":[],"country":[],"country_code":[],"location_type":[],
                "longitude":[],"latitude":[],"is_location_exact":[]}
for i in df_address["_id"]:
    address_data["_id"].append(i)       

for i in df_address["address"]:
    address_data["street"].append(i["street"])
    address_data["suburb"].append(i["suburb"])
    address_data["government_area"].append(i["government_area"])
    address_data["market"].append(i["market"])
    address_data["country"].append(i["country"])
    address_data["country_code"].append(i["country_code"])
    address_data["location_type"].append(i["location"]["type"])
    address_data["longitude"].append(i["location"]["coordinates"][0])
    address_data["latitude"].append(i["location"]["coordinates"][1])
    address_data["is_location_exact"].append(i["location"]["is_location_exact"])
    
df_address_1 = pd.DataFrame(address_data)

In [43]:
df_address_1.head(2)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,True
1,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,False

In [44]:
# Checking the Empty Values in Address detail in all Features

street_=[]
suburb_=[]
government_area_=[]
market_=[]
country_=[]
country_code_=[]
location_type_=[]
longitude_=[]
latitude_=[]
is_location_exact_=[]

for index,row in df_address_1.iterrows():
    if row["street"]=="":
        street_.append(index)
    if row["suburb"]=="":
        suburb_.append(index)
    if row["government_area"]=="":
        government_area_.append(index)
    if row["market"]=="":
        market_.append(index)
    if row["country"]=="":
        country_.append(index)
    if row["country_code"]=="":
        country_code_.append(index)
    if row["location_type"]=="":
        location_type_.append(index)
    if row["longitude"]=="":
        longitude_.append(index)
    if row["latitude"]=="":
        latitude_.append(index)
    if row["is_location_exact"]=="":
        is_location_exact_.append(index)

In [45]:
Empty_Address = [street_,suburb_,government_area_,market_,country_,country_code_,location_type_,longitude_,latitude_,is_location_exact_]

for i in Empty_Address:
    print(len(i))

0
887
0
6
0
0
0
0
0
0

In [46]:
# Handling the Empty values 

df_address_1["suburb"]=df_address_1["suburb"].replace({"":"Not Specified"})
df_address_1["market"]=df_address_1["market"].replace({"":"Not Specified"})

# Handling the Boolian Values
df_address_1["is_location_exact"]=df_address_1["is_location_exact"].replace({False:"No",True:"Yes"})

In [47]:
df_address_1.head(2)

,_id,street,suburb,government_area,market,country,country_code,location_type,longitude,latitude,is_location_exact
0,10059872,"Hong Kong, Hong Kong Island, Hong Kong",Central & Western District,Central & Western,Hong Kong,Hong Kong,HK,Point,114.15027,22.28158,Yes
1,1003530,"New York, NY, United States",Manhattan,Upper West Side,New York,United States,US,Point,-73.96523,40.79962,No

In [48]:
# Collection the Availability details

availability_details = []

for i in col1.find({},{"_id":1,"availability":1}):
    availability_details.append(i)
df_availability = pd.DataFrame(availability_details)

In [49]:

availability_data = {"_id":[],"availability_30":[],"availability_60":[],"availability_90":[],"availability_365":[]} 

for i in df_availability["_id"]:
    availability_data["_id"].append(i)

for i in df_availability["availability"]:
    availability_data["availability_30"].append(i["availability_30"])
    availability_data["availability_60"].append(i["availability_60"])
    availability_data["availability_90"].append(i["availability_90"])
    availability_data["availability_365"].append(i["availability_365"])

df_availability_1 = pd.DataFrame(availability_data)

In [50]:
df_availability_1.head(2)

,_id,availability_30,availability_60,availability_90,availability_365
0,10059872,0,0,0,0
1,1003530,0,0,0,93

In [51]:
df_availability_1.isnull().sum()

_id                 0
availability_30     0
availability_60     0
availability_90     0
availability_365    0
dtype: int64

In [52]:
df_availability_1.dtypes

_id                 object
availability_30      int64
availability_60      int64
availability_90      int64
availability_365     int64
dtype: object

In [53]:
# Collection the Amenities

amenities_details = []

for i in col1.find({},{"_id":1,"amenities":1}):
    amenities_details.append(i)
df_amenities = pd.DataFrame(amenities_details)

In [54]:
amenities_data = {"_id":[],"amenities":[]}

for i in df_amenities["_id"]:
    amenities_data["_id"].append(i)

for i in df_amenities["amenities"]:
    amenities_data["amenities"].append(i)

df_amenities_1 = pd.DataFrame(amenities_data)

In [55]:
df_amenities_1.head(2)

        _id                                          amenities
0  10059872  [Air conditioning, Kitchen, Smoking allowed, D...
1   1003530  [Internet, Wifi, Air conditioning, Kitchen, El...

In [56]:
df_amenities_1.isnull().sum()

_id          0
amenities    0
dtype: int64

In [57]:
# Merging the All DataFrames

df = pd.merge(df_airbnb, df_host_1, on="_id")
df = pd.merge(df, df_address_1, on="_id")
df = pd.merge(df, df_availability_1, on="_id")
df = pd.merge(df, df_amenities_1, on="_id")

In [58]:
# Converting the merged DataFrame to a CSV file
df.to_csv('airbnb_data.csv', index=False)

In [59]:
df = pd.read_csv(r"C:\Users\madhe\OneDrive\Desktop\Airbnb Analysis\airbnb_data.csv")